@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.svgParent:hover {
  background-color: rgb(38, 42, 48);
}

.contentHolder {
  transition: all 0.2s ease-in-out;
}

.contentHolder:hover {
  background-color: rgb(71, 71, 112);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.01);
  cursor: pointer;
} 
